<!DOCTYPE html lang="en" itemscope itemtype="http://schema.org/Person">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Krissy O'Shea</title>
        <meta name="description" content="Krissy O'Shea">
        <meta name="keywords" content="Krissy O'Shea">
        <meta name="author" content="Krissy O'Shea">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href='http://fonts.googleapis.com/css?family=Cinzel|Italiana' rel='stylesheet' type='text/css'>
        <meta http-equiv="cleartype" content="on">
        <script type="text/javascript">
            (function() {
                var config = {
                  kitId: 'ptm1gxm',
                  scriptTimeout: 3000
                };
                var h = document.getElementsByTagName('html')[0];
                h.className += ' wf-loading';
                var t = setTimeout(function() {
                  h.className = h.className.replace(/(\s|^)wf-loading(\s|$)/g, ' ');
                  h.className += ' wf-inactive';
                }, config.scriptTimeout);
                var d = false;
                var tk = document.createElement('script');
                tk.src = '//use.typekit.net/' + config.kitId + '.js';
                tk.type = 'text/javascript';
                tk.async = 'true';
                tk.onload = tk.onreadystatechange = function() {
                  var rs = this.readyState;
                  if (d || rs && rs != 'complete' && rs != 'loaded') return;
                  d = true;
                  clearTimeout(t);
                  try { Typekit.load(config); } catch (e) {}
                };
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(tk, s);
            })();
        </script>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/krissyoshea.css" />
		<script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="mainapp" class="container_12">
            <header class="grid_3 header">
                <h1 id="banner" role="banner" aria-live="polite">Krissy O'Shea</h1>
                <h3 role="banner" aria-live="polite">Styling &amp; Photography</h3>
                <nav role="navigation" class="grid_2">
                    <ul id="nav" role="menubar" class="navigation" style="display:none;">
                        <li role="menu-item">
                            <a id="home" class="active" href="javascript:void(0);" tabindex="1">home</a>
                        </li>
                        <li role="menu-item">
                            <a id="photoSets" href="javascript:void(0);" tabindex="2">portfolios</a>
                            <nav role="navigation" class="grid_2">
                                <ul id="photoSetMenu" role="menubar" class="navigation subNavigation" style="display:none;" aria-hidden="true">
                                </ul>
                            </nav>
                        </li>
                        <li role="menu-item">
                            <a id="about" href="javascript:void(0);" tabindex="5">about</a>
                        </li>
                        <li role="menu-item">
                            <a id="contact" href="javascript:void(0);" tabindex="6">information</a>
                        </li>
                        <li role="menu-item" class="social">
                          <a id="instagram_social" href="https://instagram.com/cottagefarm" target="new" title="Krissy O'Shea" class="instagram" tabindex="7"></a>
                          <a id="pinterest_social" href="https://pinterest.com/cottagefarm" target="new" title="Krissy O'Shea" class="pinterest" tabindex="8"></a>
                          <a id="twitter_social" href="https://twitter.com/cottagefarm" target="new" title="Krissy O'Shea" class="twitter" tabindex="9"></a>
                        </li>
                    </ul>
                </nav>
            </header>
            <div id="body" aria-busy="true" class="grid_9">
                <div id="loading">
                    <div id="cssSplash" style="display:none;">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="bar4"></div>
                        <div class="bar5"></div>
                        <div class="bar6"></div>
                        <div class="bar7"></div>
                        <div class="bar8"></div>
                    </div>
                    <img id="imageSplash" alt="Loading Animation" style="display:none;"/>
                </div>
                <div id="error" style="display:none;">
                    <h2>There was an error :(</h2>
                    <p>Please try again later</p>
                </div>
                <noscript>
                    <h1>Welcome, noble navigator of the JavaScript-less interwebs</h1>
                    <p>
                        If you enable JavaScript, this site will look a little better.
                    </p>
                </noscript>
                <div id="main" role="main">
                    <div id="homeContent" class="content photoContent grid_9" itemscope itemtype="http://schema.org/Photograph">
                        <img id="homePageImage" alt="View this portfolio" aria-hidden="true" style="display:none;"/>
                    </div>
                    <div id="aboutContent" class="content" aria-hidden="true" style="display:none;">
                        <p>
                            Krissy O'Shea is a freelance prop and floral stylist & event designer. She has a background in photography and holds an MFA from the San Francisco Arts Institute. She specializes in tabletop and life-style styling as well as event design.
                        </p>
                    </div>
                    <div id="contactContent" class="content" aria-hidden="true" style="display:none;">
                        <h3>Contact</h3>
                        <p>
                            You can email me at <b>krissyoshea at gmail.com</b>.
                        </p>
                        <p>
                            Find me on <a href="http://instagram.com/cottagefarm">instagram</a>.
                        </p>
                        <p>
                            I <a href="http://www.twitter.com/cottagefarm">tweet</a> from time to time.
                        </p>
                        <p>
                            I am a sometimes blogger at <a href="http://cottagefarm.blogspot.com/">Cottage Farm</a>.
                        </p>
                        <h3>Selected Clients</h3>
                        <p> </p>
                        <ul>
                            <li>Kyle Books</li>
                            <li>Kinfolk Magazine</li>
                            <li>San Francisco Chronicle</li>
                            <li>Chronicle Books</li>
                            <li>Ten Speed Press</li>
                            <li>91 Magazine</li>
                            <li>The Pressery</li>
                            <li>T.e.l.l New England</li>
                        </ul>
                    </div>
                </div>
            </div>
            <footer id="footer" class="grid_12" style="display:none;"></footer>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script type="text/template" id="photo-template">
            <img src="<%= src %>" style="display: <%= position != 0 ? 'none' : 'block'%>;" itemscope itemtype="http://schema.org/Photograph" />
        </script>
        <script type="text/template" id="photo-page-template">
            <a href="#" class="<%= active ? 'active' : ''%>"><%= innerHTML %></a>
        </script>
        <script type="text/template" id="photo-set-template">
            <span role="menu-item">
                <a id="<%= id %>" href="javascript:void(0);" tabindex="3"><%= name %></a>
            </span>
        </script>
        <script type="text/template" id="gallery-template">
            <div id="<%= id %>Content" class="content photoContent grid_9" style="display:none;">
                <h3 id="<%= id %>GalleryName" class="controlSummary"></h3><span class="separator" aria-role="separator">|</span>
                <p id="<%= id %>ControlSummary" class="controlSummary"></p><span class="separator" aria-role="separator">|</span>
                <div class="controls">
                    <ol id="<%= id %>Controls" class="navigation subNavigation" style="display:none;"></ol>
                </div>
                <span class="separator" aria-role="separator">|</span>
                <small id="<%= id %>Attribution" class="attribution" style="display:none;"></small>
                <ul id="<%= id %>Container" class="photoContainer"></ul>
            </div>
        </script>
        <!-- scripts concatenated and minified via build script -->
        <script src="js/libs/underscore/underscore.js"></script>
        <script src="js/libs/backbone/backbone.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <!-- end scripts -->
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-32840879-1');ga('send','pageview');
        </script>
    </body>
</html>
