html, body, section, nav, article, aside, h1, h2, h3, h4, h5, h6, hgroup, header, footer, address, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, div, a, em, strong, small, s, cite, q, dfn, abbr, time, code, var, samp, kbd, sub, sup, i, b, mark, span, br, ins, del, img, iframe, embed, object, video, audio, canvas, map, area, table, caption, colgroup, tbody, thead, tfoot, tr, td, th, form, fieldset, legend, label, input, button, select, textarea, details, summary, command, menu {
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    outline: 0;
    border: 0 none;
    padding: 0;
}
input, textarea, select, button, optgroup {
    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: 'Cleardings';
    src: url("/_fonts/cleardings.eot");
}
@font-face {
    font-family: 'Cleardings';
    src: url(data:application/x-font-woff;
    charset=utf-8;
    base64, d09GRgABAAAAABvsABEAAAAAJKgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABgAAAABwAAAAcYh7UyEdERUYAAAGcAAAAHQAAACAATQAET1MvMgAAAbwAAABNAAAAYEBzUT1jbWFwAAACDAAAAHEAAAGCApwuT2N2dCAAAAKAAAAADAAAAAwBhgK8ZnBnbQAAAowAAAGxAAACZVO0L6dnYXNwAAAEQAAAAAgAAAAIAAAAEGdseWYAAARIAAAVIAAAG0Bw1vhoaGVhZAAAGWgAAAAvAAAANgAdYaloaGVhAAAZmAAAABwAAAAkD5IE42htdHgAABm0AAAASwAAAFg/ZA9YbG9jYQAAGgAAAABCAAAAQlbyT75tYXhwAAAaRAAAACAAAAAgAUkBmm5hbWUAABpkAAAAsQAAAS4AFv14cG9zdAAAGxgAAACcAAABL6hKQNJwcmVwAAAbtAAAAC4AAAAusPIrFHdlYmYAABvkAAAABgAAAAZbkVBPAAAAAQAAAADJiW8xAAAAAMwgWYkAAAAAzHUMDXjaY2BkYGDgA2IJBhBgYmAEQnkgZgHzGAAFnwBSAAAAeNpjYGE3ZPzCwMrAwmrEOoOBgVEOQjNfY0hjEmJgYGJgZWaAAUYBBoYEGMc5R0GB4QAD7wNxtrR/aQwM7BOYtUBqGBBAgYERAAsuCjkAAAB42mNgYGBmgGAZBkYGEKgB8hjBfBaGBCAtwiAAFGFh4GXQZtBnqFGcoDhJSegB9wPx//+BsqiiDA/4/v///+3/zf/X/nfdK79Xdve7ApcCB9RkDMDIxgCXYmSCugNFAQqPBYhZGagI2BgGHgAAjkYaCgAAAAAAAN0AswD1ANMA6njaXVG7TltBEN0NDwOBxNggOdoUs5mQxnuhBQnE1Y1iZDuF5QhpN3KRi3EBH0CBRA3arxmgoaRImwYhF0h8Qj4hEjNriKI0Ozuzc86ZM0vKkap36WvPU+ckkMLdBs02/U5ItbMA96Tr642MtIMHWmxm9Mp1+/4LBpvRlDtqAOU9bykPGU07gVq0p/7R/AqG+/wf8zsYtDTT9NQ6CekhBOabcUuD7xnNussP+oLV4WIwMKSYpuIuP6ZS/rc052rLsLWR0byDMxH5yTRAU2ttBJr+1CHV83EUS5DLprE2mJiy/iQTwYXJdFVTtcz42sFdsrPoYIMqzYEH2MNWeQweDg8mFNK3JMosDRH2YqvECBGTHAo55dzJ/qRA+UgSxrxJSjvjhrUGxpHXwKA2T7P/PJtNbW8dwvhZHMF3vxlLOvjIhtoYEWI7YimACURCRlX5hhrPvSwG5FL7z0CUgOXxj3+dCLTu2EQ8l7V1DjFWCHp+29zyy4q7VrnOi0J3b6pqqNIpzftezr7HA54eC8NBY8Gbz/v+SoH6PCyuNGgOBEN6N3r/orXqiKu8Fz6yJ9O/sVoAAAAAAQAB//8AD3jaxVl/TBtXnn/veTx2nOlkPAyDaxxnbIzjGtd2x2YM1HFc6rocpV6OZS2WoyxKI28WsSyHEMpFUY6rIsTlIi6KomyW47pZNhexlIueSS7tRahCORTtRXFVRTlURVVVraqqqnK9XtWrUkqm9312W/X27v8zMPPem+eZ974/Pp/Pd0AE5RAih639yIJsKFrGKJZes3Ho3/Uyb303vWYh0ERlCxu2suE1G4930muYjSecPmezz+nLEc0M4AvmEWv/9mqOu4MQwhihkhVxJbQb9SKKYtSWoLhCrfoawo6Wq1nk2NWyhhFrYsuuFkyFGHVsUaLTXRXK6Wu7HOzSLhvMcuxiTQfa1VJ+DLeg+FO41eeEZ9f7nE1OjPDCHbxglu4QVDubJbyAMFo2S5ZNvgT7egFhysUo2qKWCrVIZYxbKKmUrXAy3DcO0E8+R/UtDo6iKCVRiqSyBX9JCZv3JbmKMLFE4UOzbgyPrsMJvEyMDx/93izZ0UPEPtgyu2Nyx2xn4Fn1/+NZ1YewBcNyLbOf75iOs/81DmsbMkvcEKzNilAddu7CziEOmYggUtphx+oP3BdNwrzJ2rwUm4YnOcRmlEzEIfYVE9VsTWAKuVN9PrM1GBpX2EK+fX6rrx7DF8BEd9h9v/d5CsG3imjdtsJJEAF1qBn1IyrHKJ+grgr1xahQAa9gGoTbblEruFAq28F0SoUqUnkvtPZUyvtxS3mv4pSvCk55d6ChHZV9Lqf8T5izoj126MefkiVDUyVew8kM1r24XuG1YErx4oSeIa3JKG7yi6S4jUe2t82LFn5y86PNSWhtz/TO9aUneqPfnPD12oxtvDK1OTm5OUW3t2nfHFyfSNdOsCWIWXOdR7yEnkMD6Aj6K0SzMfpChZZitKFCvbCZn8WoskWRTn9cofkK/bFEY9qWk4XerhiNsYHyIdhZoEJ72bhRKY/CDmO7nHKZE9rb6SHn9ZaG7Av9L5VgczQgrzX69PZ22HbpBdg2UvYZ/S+xKw1O2gibb4ZNp6KW1qTBtro/CjsOJHS2eSPl5G1eLBKbaLGJYBYvV6+ItiZ/1NKseMn3rVP3jbVS1T5PUMfggNsrcPFwh6CFRczd6hrv9rjWO7oDPE8ElxwZKxxWXdG+E2dP9LtD2Ux/rr/NX5iZG0pjOd6d86rGcGawFPJ0dcU1radNSxp+ohf03l5P71TBcCXbvG7XlMsbDQmRyV7P25/5A2nH18gjujoLhV6tb8SlCo6kt60naKSPFzNHejIhj2QnYqT75Hgo4xHtamc80umRNcOyHe81pFBfuq0/NIVYNCNIHm4E/RCNohn0K1RGNxFVY3Q5Vv7da4kE/XWFXtTpbyt0SacLDDowXYuVr9YS9uG/bfyUJSxdjop0dcNaXiJfinRxw0oXpasXF5fqWm58cWTjn2HK7qu/YV0rXZWu/m51ua7l6mvsuAaj2intVBMvOuV2tLb4m1VIcPz64sXfLC3/7jXWiX6X8uVl1SlnHRbRSRpbjKdn/5a59bfO6w5Ba/4H3z+y3q9lagUnEzmVsaQML27wEvar8sH9QfA1+7V5iJdLiGQPVmGOIhLwZYNIGvw8SwUVzn6YimO4OWg06GqDmgFX23gbxAUP4ynWhW/AcAoGcfW+qaAB47qa8Foa2LUGvjq3zrBCD2bvw/UiZqEStEUtnF2feOfsm/2585fbop15rz0d54R4Vj06FRgZDEqKwsscsRMH6ZicL3Ke/r6BTped4wjP+3UuoGnEPh+Jroyey/SU4mfIA3uHKl5yxzsmNfiOW4hq2og/eCvIJd32/gm/0Tbu4TzeB4HeEq8pOU6xc7LgJmo+EyX2U3xbN38oP6Z/cJ5iPr4Ytx8d45LSK8fPca5X3Omh5Ek8hWePcZ29PQ57NO+wd/QpnNcj+IOEuOOSpsm8P+7geckh8hKn9I912lWXEMym3cRllx2iwEudvX5/IEqCl/2cQ5BCYXLcHSfzDsHukvS4y2PnJEFcf+jx57rtdl4hR1xeSQ4UeVXdFAwHD7tWVJnwQU7jR1TJwc3ju3LI7rcLAlHDQS8nSPZ0pysEOLrytWRD1nXkAxxPGinIaXBdA1ZTRgSnDHUfViGZsQ01+ffj4IpbwtxwPOzhCB6UOAd2Y01zBe32qMPv3jmV7/Gb2aBVdES5ST3n4L+6KREyNMhxmiwvaXIwbDe3Rq3icA2/Wf6sox+gO4i+CIiVoNkKdei0I0a1BKOeRgC53ioPHajQA1K5voZmAaksQMur0ycrdK9e/tNaSv1L3YMSSymRtko0uVHmLV9S28aN/1i96a0NyxJ1bpSf4L6k4Q30Om9zyk+Ek63fJgr+XyMsdcr1B5zymuX5FwEYy0IA2o7GWBUksy86Zfp8O+1wvo6E+r3ewJP5Kkc4JeTTuX2Y4RygHolB+LYmM5aEVmcLAgQyeCTscr3k81cvWwAIIX8YLB6EhOKa/AhLGH2Mue6e+Nrlz6VAJnLxzEy0MD6Vw0fdH4vLyZ6Q6E0Gzy8umK6z757u17pd0e7xnqPLC8f1w12GKPbwSlf/XPdD8yE5AfeK3njvg9Pnpt3hgMcR8J+b7prsjivmu+5TnragJ6S5HJp/cc7cTE/NDn6YHx4M39hcuukOBUXxFi+FNTdWGL+ufF2qxokFicCvI4hqMVpfKWNJ19e0eqZuNKZu9rh1ne4GvKtU6Racx+nMmXadyZY94KvmCnXqtFkqN0LHXePdxmawZj2YtV6Dhgx2bABdhpOGrio8EAnGIJVqAGKDC1X2sPH1zhVcNFcOzx8+nI8XogThYuTu6RMr/by50lbKzRjyAlf8asW60nUY5kQL2ye54mrn6Nj9xUenSbFrtO1EJP6I6ayiCdoBuHYv0zK2OM7YEqld2IZ5YHruIMZFMq6RXjWp69Gw383bzTNkS9q5O2E+dAiyJHK8KVkukgnTRIIqSQ47zxHz9M5bEnlrxHyotKUzRlgQyUhV5xS/dvIrYMdn0G8R3ROjkQrVY6BJMO2smqu1AgFc9n4X6zFo7a6Un/1G6X316e5aODdK1LNRViCcQxtXZSUEnADH73HCNVlp9IRqwf29djWsva2gAtozoAICzrIVaJ/G5PKeCAtsPQISaDfyZarhzKQOo3lLvULAEcH9ANA2RgqpuiBIAQCLKjrwLNzl1iREOKpXAMptbBCQHBeHrmDPlYk7CxMdc9sXe097OoTQGU4mWuAVbaKvs8urO4RAf/L09fdvvW8+yIlA+xIRQqUjluLYvesTmdH5y8UN860rXfofIqev8cTxwRmiZobHzvZnQ5PnI/qAjuPvXL5rPrg51SMpsiPtCEmh26ASGa4VwacBNIz+BtEAqKUESGYWez+M0Raw909itHmLFiu0KJV1MO+zFfoDppRATD0r0YOs2V6h7TF6sFIegSD9QRFYdJe90bPX2+J+cYDRpu6k8fbywXaw5p+8wKxHACPKLw6AQX/ovBaKP6U/y6a1yFcT7Qc7qxY1kgmdA2qFGNOVJj8H9FjfWt8atQSaGP4azNpAvGkcPFCFjpqNAZyqgpNZ32bU5BSzdJWe8QqZx8r65U6R17LF8blza0OEnDY/eWMlqyjZlTfMT06Hh7u78cg7Eyvz40lCAuHuZLI/FOhID+Ql98yx6Zn3Xrllfjh97IRbyg9c+CLTezgp2l3xZEcy7PqicGgm4yLwcWVmDhXIVOGosvl5oPfYAAl3pFVFyIb1rm49nBHM2+pctnvaFdFd8dm1mfsz5seba7Nxlx5xTTNNi0bNDdur4JMfo5+iX6C/RvTlGB1P0JcqdFSnB2qgMRGjli36TIU+I5V/BF4pVOhP9LXCjxjCFHp2wYBEByt0MAaN8s9gws8r9OdSub2WJn8Ofir8CCL4hedfehnsXf75z6DTFHo8yfzQ7izXycxNL73slK89JrY9Y6n6pC5oJJxgaR+YWm4yVLCxDOHLwtypVhVRkAmTNM7wDIJAwTgh1H2A206vhTloH6nf71TYVyzBFEQ9Ay6WGABdhKuhmH9UDAcuTnGnp88QEs6453baLgxOlQIiGegPdmiCXXAl3T0LhHB2h6A41NHC1Mnu3MBXHwzkumYmu0YVLczxq6tDh0oXFY6bvYiPTi1NGYNGqCupkSC0p5ZIn7eT9Ewvnpt+dMbTFrp02Jymo251LGJglyDbQ2m/J6rz3gEX8LFXcUsS7yBCNEhKA7l88dFCICIQR8arRVcC5tK00ZEfw719w8YJHOybnOxLDhpasiu0NDm5NFXjg3Vb0VpCMtRrLjhi+ni1IFErZXe1YAMbAWIzkzqZJXwMxa3OuifxSqQrYh3rHIbT9jk44Ai+t4rvm8F+7lg4HxrIfjULp1CelO7hFbN4bwsxvf0tRu9B+1AItaD26jNBLCS3oOYpP119pizJRkDjVFkiPKcFghZGqzhV12QRCQiYhkQqAX+WJktqH0k04kQdFLVNu3FT8dwOHsLH8dDOuXM75iXzpHlpRwz3pw9lHH3zQ8ShyVH7/YXsTe+wa/hUWzF4SZiZ7A+9OTez3H8GL//RF6GFvUVjqAPPmkft7lBoeeZkF5HM5UuX3uhihIW7zDdI0XwPA9Pjla97rfdhX170c0QbYtRZYdWvo/qmwa5/+3qBZ68X9sXo3i1Wy9r0NWEvGxfYG4i9AmvuBfalgkT5CuVjZQ3ygN8LXNrYTgUnZdWss6HKsRQ5qcKQvZVJ71TtHUS1TDNSDbzPzyo7C14ZO5TXZZOtlpcj/shs+MJtc/XNYQ2KNsv6ijiYnT1uFlceDQbiSfeIvr49HRgppMlH1VoeFUEr9ENsaMhALCwcFcZ0dZDdvljZD54qOx6vrW2P86oNOT0sOevkq4S3KrWEBCBMGXVygwy0kjKA7GUrZyEYVOhuDJ60FU/OrA28HU8q6e629+3SXDZ3Ek9jRRLMV81z5uLY2d4h5ajl9tTUBbtivm3e6DU/xSND5z14VbCDm0wzbYaxRkTs7atyslTl5OdQEtGnYzRRYRKmEdabj5WfZ+tNPA3rzbTT3c5rLUZbZ44tuFEuq/52VhqnCZS0Bko1hUmUB8hOVdVcikEAFD+sMobKCezLgBwgASSeLYiLHC86JvHnEx+ToBL1Rjx+RegMv/VZcqZw2SUKkmyfM+9FV053jFw7OftqUS9mhfXjubnx06c2x+LD4joXEryySzhFlFMMM2SXV44cS0KxoXJBRQoH/Y4L5s34lTMZsau/kPTrujZzMVkYKuhCkvkoa47ZNqwqiiPUoCY0QK39sGo4HcBqAyOelMo11Di+wYCKjf3FQQUgzqdlIzpW783cDmrhtvjcteIQwMQ5fPkzx4eXVqZmp6Injh0pTJ83PzF7zB3zjbv8G2T5Fbvo/XSBS5L0m+OTpVufiEZkbWfO27PYJ+kzw233zT5z8T3EeNtcBN72IB1l0GuIxhlXM29ICeqtUKNC0zHAGNoMNAH+OVjVTKEKDUnlOqAA8FxCYiEGeVDO1jRTpviff1nTTO0S7dgoP279kro20FXX4+0dVXX0XauqjfwJp/y6RVJ3N7c8GWd+5p00CvmzuwWo/ckoULvXScX2ctoADuHrkD9UC1kQ/hpyKoShPugkOLRKCIxn+Ubdg0lRE8xg81INYEWE2bgBSgoqgBXiwPP4EF47fOn2kcKkOr58bBYHHlxbnVRDnoEzOXPNNG+ax3APoOWoWTL/YA6Zk2aaFLPp3KirL5SZXSad+AbRYHRz2fz4ynBv7sz1Vazi/hFTLXEe7fLdoYdYNEcgQzbM6T/c3Maf4/G+kaMjeFjdYXlrAbwa5o/xrwLG+lEYtSH6WIwGKzTMcpehDwcWb6laXKpQSSo3gIEBeyMANg0SWKdpP5Br/Cnrt1zqhHD3+YN1sE+fbrTWdHuVN5Gi6kYy6Mezd+ZJdv7OnflHG/N37nXGyZF4p1cLOPhHF+KdWM+N5HIjndaZs2+9dXabHXEhnsvFLfc9bi4X/2pkJJ8fycHabd/xQx2o+CCKwuqzKI/+DFEpRp+o0FQMIgLT56tvAGvv/Z6D1R/QmWrogg08p4C6E/k9ktXl1fa3xFrbn36m+hYw9QS7gB27kereF3gyceBg/tlvXgfKII41zouBbkQMfBPFdVIDag7u55r5FNccJftFXKf69BTZz1lYWW2kgj4/5JdhJft5i1oXqAsUR69/ikXswuKn10ehbX5mfmR+9ul14xLO4uMer7lqxokbX8ChyEz38Oz6vbtYO3ks0m2uSrnw0cFb62+ZH01if0B7G+eFi3dLXWHcETe3MMVj2Li/2NW1eN+8DZh4u9bGD8yt2/iVqa7O41FtI1jqWiwM5T/a8V4K4h6zZPm4MzpzcWRt4dFmoRiI48Cbt8y+T81bV/BoFDm/x8Eu0NURyNFnUD/Ugr9Af4Hm0C/RElpGFG2gf0Xoj5m4Tm04iEFQxXCCYXsrE648DMJAK2/ZhwFeLGAgL25gl3XQYwEViMnPRNj+b8oOG8xnLyQanNCp2hN6Tn4Phi42DlrYxNbaqMruaKR8rb4Yrmnk6i1aE1XSYyPW6oIsRqp697rq3eAnQaoTLcxXTdD6v5SB20OTeU1TuQcfcy6vP+B1ua99ke6SBL9Xk6Iub8YBeCxqciGpG7zCmUsED6lqNOgP+DW3LAl2btTtdnnEdLbP6Nbc/kAgGPR3512qLOP5nrxsRPRMvKTFNVUJe9SgrkLFOY+nCRSbomJX7JHeAV30uPQhb1TPd2GX2xX2tHV0ZyW3Vw62yZIkqKKD2/KsSbKiqBl9yfMOJ6r/p07ZNG+4tMFjfYOrh0emOzlRFqX1nQE96HbnOJk7L2jptPYo6E3rHaN+jyjxPBbeDfPYT3iHA5YTgR1GOh6NZ6LxiCrbcYckyZwgC6LdzhMcsrvC4WBw+/cO1Vvqh0JZGuagNuYFzi6ePOwprLrzST0aUQOCJivcIcLbPa7JftU+0JFRpej2+6EOuygGCtxwIBAK5DvjcYxugDh27Az6tTc+y+YPA48Rl3nU+hFfQIvo5er/DS5UldP57/5HswCyCCBgV4U+pmP699Xq4u90KPvKjb/S9bWihc0q/hJmPaavWYqsZ2EvMl4FTChanPJ1KPf2aT4/w4Laf0HY2xyQ/NjiB9zeaz9g2zvps/icPidxbfsLE0uH00c9XvuRiWIbnpDMi+YCCeI+7M+fmOiLsjcDm10F8v/+UcwrO32WKwCd/w0UBRrKeNpjYGRgYADi/JTum/H8Nl8Z5DkYQOBMKQ8/gv7zj4OBfQKQy8HABBIFABPnCVsAeNpjYGRgYJ/w5xoDAwcDCABJRgZUwAMASeoCiHjaY3rD4MIABCxAzLSKgYGNgZGBJYthBQcDcxvLBYYYIC4CiTG/YGDgYGAIYwIpXgXGYYxhQDILzILwHBhWMbYxhAFVSQAAX3QO/QAAAAAsACwALAAsAGwAogC6AM4A4gD6AQIBagI6A54D2gSyBSAFVgYKBtQHugfyCF4IyAkgCZoJ5gqkCwILtAz+DaAAAAABAAAAIADKABEAAAAAAAIAAQACABYAAAEAAMwAAAAAeNpNjL0OgkAQhAc4SSxsLdTiCmtzECtbjQ+gRhobiAchIWD4qXkXn0bfyvE4Dbe5mS87uwtghiccfN9YXeMDe4YGFlj82acvmTpiShJYWXaZScveiAXrxxPS2rLPjYPlF+Y4Wn5D4dbvCx3X97zMGnnSWVfEtYx0klZl22OD4V+hUaNBjgolLytWwESZkpyIOJEgNXnLzpBe0LEvcaY+TDewusPWqKJLhOZe+AHdSh9xAAAAeNptzcsOwWAQhuH5fodqUdTZyiV0FGVJ1G2IhdJESJqKy3YJVH1Lk0yeSWbxipFi3pBY/s00X4iBEVc8OaCEsrxQQRUWarDhoI4GmnDRQhsdeOiihz4GGGKEMSbW45b4vr+zj2l6f15PceYUV5qcL9n3GeVfqnRGAzqnC7qkIV3RNd3QLY3o/qeyp+wpe8qesqfsKXsafgDAlz7ZuAH/hbABjQBLsAhQWLEBAY5ZsUYGK1ghsBBZS7AUUlghsIBZHbAGK1xYWbAUKwAAAAFQT1uQAAA=) format("woff"), url("/_fonts/cleardings.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, dt, strong, label, .markit-formats .markit-bold, .button {
    font-family: "LFT Etica Bold",  "LFT Etica",  "Helvetica Neue",  Arial,  Helvetica,  sans-serif;
    font-weight: bold;
    font-style: normal;
}
h4, dd, th, blockquote p, label.minor, header .contact a {
    font-family: "LFT Etica Regular",  "LFT Etica",  "Helvetica Neue",  Arial,  Helvetica,  sans-serif;
    font-weight: normal;
    font-style: normal;
}
em, cite, cite abbr, var, .role, .meta, p i, .lanyrd-date strong, .markit-formats .markit-italic {
    font-family: "Premiera Italic",  Premiera,  'Droid Serif',  Georgia,  serif;
    font-weight: normal;
    font-style: italic;
}
strong em {
    font-family: "LFT Etica Bold Italic",  "LFT Etica",  "Helvetica Neue",  Arial,  Helvetica,  sans-serif;
    font-weight: bold;
    font-style: italic;
}
.icon:before, nav.primary li:before, footer.contentinfo small nav li:after, .carousel .control, .zoomer, .sibling-nav a, .elsewhere ul a:before {
    font-family: Cleardings;
    font-style: normal;
    font-weight: normal;
}
body {
    color: #555;
    background: #f0f0ec;
    font-family: 'Premiera Book',  Premiera,  'Droid Serif',  Georgia,  serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.3333;
}
body.no-scroll {
    overflow-y: hidden;
}
address {
    font-style: normal;
}
h1 {
    color: #792c5c;
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1.1111;
    letter-spacing: -0.025em;
    text-shadow: 0 1px 1px #fff;
    border-bottom: 1px solid #dce0d9;
    margin: 0.5556em 0;
    padding-bottom: 0.3333em;
}
h1 a, h1 a:hover {
    color: #792c5c;
    text-decoration: none;
}
h2 {
    color: #6fa909;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 1.2em 0 0.4em;
}
h3 {
    color: #792c5c;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1;
    margin: 0.6em 0 0.25em;
}
h4 {
    color: #792c5c;
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    margin: 1em 0 0;
}
@media all and (min-width: 50em) {
    body {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
}
h1 {
    font-size: 64px;
    font-size: 4rem;
    letter-spacing: -0.03125em;
    margin: 0.375em 0 0.25em;
    padding-bottom: 0.25em;
}
h2 {
    font-size: 28px;
    font-size: 1.75rem;
}
h3 {
    font-size: 20px;
    font-size: 1.25rem;
}
}article header {
    margin-bottom: 2em;
    position: relative;
}
article header h1 {
    padding-right: 20%}
article header.center {
    padding-right: 0;
}
article p {
    -webkit-font-feature-settings: "onum" 1,  "kern" 1;
    -moz-font-feature-settings: "onum" 1;
    -moz-font-feature-settings: "onum=1";
    -ms-font-feature-settings: "onum" 1;
    font-feature-settings: "onum" 1,  "kern" 1;
}
p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
    margin: 0.6667em 0;
}
hr {
    display: block;
    background: none;
    margin: 2em 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #dce0d9;
}
blockquote {
    padding: 0 1.5em 0 1.25em;
    margin: 1.5em 0;
    border-left: 0.25em solid #dce0d9;
}
blockquote p {
    color: #666;
    line-height: 1.4;
    margin-bottom: 0.5em;
}
blockquote footer {
    color: #555;
    font-size: 14px;
    font-size: 0.875rem;
    margin: 0;
}
ol {
    list-style-type: decimal;
}
li {
    list-style-position: inside;
}
@media all and (min-width: 35em) {
    li {
    list-style-position: outside;
}
}dl {
    margin: 1.5em 0;
}
dt {
    color: #6fa909;
    margin: 1.5em 0 0.5em;
}
figure {
    margin: 1.5em 0;
}
figure:first-child {
    margin-top: 0;
}
a, .a, input[type="submit"], input[type="reset"], input[type="button"] {
    color: #17b;
    -webkit-tap-highlight-color: #fff;
    text-decoration: none;
}
input:focus {
    outline: 1px solid #fff;
}
a:hover, a:hover .a, a:active, a:active .a, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    color: #39e;
    text-decoration: underline;
    background-color: none;
    outline: none;
}
a:link, a:link .a, a:visited, a:visited .a, a:hover, .a:hover, a:link img, a:visited img, a:hover img, a:active img, input[type="submit"], input[type="reset"], input[type="button"], .icon:before {
    -webkit-transition: color 0.3s ease,  background-color 0.3s ease,  opacity 0.3s ease;
    transition: color 0.3s ease,  background-color 0.3s ease,  opacity 0.3s ease;
}
a[href^="tel:"] {
    text-decoration: none;
    cursor: default;
}
:lang(en-gb)>q {
    quotes: "\201C" "\201D" "\2018" "\2019"}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
abbr, .c2sc {
    -webkit-font-feature-settings: "c2sc" 1;
    -moz-font-feature-settings: "c2sc" 1;
    -moz-font-feature-settings: "c2sc=1";
    -ms-font-feature-settings: "c2sc" 1;
    font-feature-settings: "c2sc" 1;
}
code {
    color: #792c5c;
}
code, kbd, samp {
    font-family: monospace;
}
ins {
    text-decoration: underline;
}
del {
    text-decoration: line-through;
}
mark {
    background-color: yellow;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
video {
    width: 100%;
    margin-bottom: 2em;
}
table {
    margin: 1em 0;
}
th, td {
    border-bottom: 1px solid #dce0d9;
    padding: 0.5em;
}
th {
    background: #dce0d9;
    text-align: left;
}
label {
    display: block;
}
input {
    padding: 0.25em;
    box-sizing: border-box;
    width: 40em;
    max-width: 100%}
input[type="checkbox"], input[type="radio"] {
    width: auto;
}
input[type="submit"], input[type="reset"], input[type="button"], .button, .button:link {
    color: #fff;
    font-size: 16px;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    background: #a0c33f;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0.75em 1em;
    width: auto;
    display: inline-block;
    cursor: pointer;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:hover, .button:focus {
    text-decoration: none;
    color: #fff;
    background: #91b137;
}
input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, .button:active {
    color: #FFF;
    text-decoration: none;
    background: #a0c33f;
}
input[type="text"], input[type="email"], textarea {
    color: #333;
    border: 1px solid #dce0d9;
    box-sizing: border-box;
    padding: 0.25em;
    width: 40em;
    max-width: 100%;
    background: #FFF;
}
textarea {
    height: 15em;
}
textarea#summary, textarea#tags {
    height: auto;
}
a.button {
    text-align: left;
    position: relative;
    line-height: 1;
}
.center {
    text-align: center;
}
.left {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1em;
}
.right {
    float: right;
    margin-left: 1.5em;
    margin-bottom: 1em;
}
.unstyled {
    list-style: none;
}
.framed, .embed {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
img.flex {
    max-width: 100%}
.c2sc {
    letter-spacing: 1px;
    text-transform: uppercase;
}
p.leader {
    color: #424a38;
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 1.1429;
    margin: -0.25em 0 0.75em;
}
p.leader a {
    border-bottom: 2px solid fade(#17b,  25%);
    text-decoration: none;
}
@media all and (min-width: 50em) {
    p.leader {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.1429;
}
}header[data-hero] {
    padding-right: 0;
}
header[data-hero] img {
    display: none;
}
@media all and (min-width: 50em) {
    header[data-hero] img {
    display: block;
}
}.smaller {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25em;
}
.meta, .lanyrd-date {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4286;
    color: #7f837a;
}
dl.meta dt {
    color: #792c5c;
    margin: 0.8571em 0 0.2857em;
}
dl.meta a {
    color: #7f837a;
}
.role {
    margin: -0.5em 0 1em 0;
    font-size: 24px;
    font-size: 1.5rem;
}
.pullquote {
    border: 0 none;
    border-top: 0.25em solid #dce0d9;
    padding: 1em 0 0;
}
.pullquote>p {
    color: #792c5c;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.1429;
}
.pullquote p:first-child {
    margin-top: 0;
}
@media all and (min-width: 62.5em) {
    .pullquote {
    margin: 1em 0 0 -54.624277456647%;
    width: 46.820809248555%;
    float: left;
}
}.tandem {
    overflow: hidden;
    padding-bottom: 0.25em;
}
.tandem img {
    width: 49%;
    float: left;
}
.tandem img:last-child {
    float: right;
}
ol.adr {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol.adr li {
    margin: 0;
    padding: 0;
}
.latest .entry-content {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.1667;
    margin: -0.25em 0 0.75em;
}
.latest .more {
    font-size: 20px;
    font-size: 1.25rem;
}
.latest .more a:before {
    content: '/ '}
.sibling-nav {
    text-align: right;
}
.sibling-nav a {
    color: #fff;
    text-align: center;
    line-height: 32px;
    line-height: 2rem;
    background: fade(#7f837a,  66%);
    margin-left: 0.3333em;
    width: 32px;
    width: 2rem;
    display: inline-block;
    opacity: 0.8;
}
.sibling-nav a:hover, .sibling-nav a:focus {
    text-decoration: none;
    opacity: 1;
}
@media all and (min-width: 30em) {
    .sibling-nav {
    position: absolute;
    top: 0;
    right: 0;
}
}@media all and (min-width: 50em) {
    .sibling-nav a {
    line-height: 36px;
    line-height: 2.25rem;
    width: 36px;
    width: 2.25rem;
}
}.prevnext {
    border-top: 1px solid #f1f1f1;
    padding: 1em 0;
}
.prevnext .prev, .prevnext .next {
    margin: 1em 0;
    background-repeat: no-repeat;
}
.prevnext .prev {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIGlkPSJVbnRpdGxlZC1QYWdlJTIwMSIgdmlld0JveD0iMCAwIDIwIDM2IiB2ZXJzaW9uPSIxLjEiCgl4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIgoJeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyMHB4IiBoZWlnaHQ9IjM2cHgiCj4KCTxnIGlkPSJhcnJvdyI+CgkJPHBhdGggZD0iTSAwIDE4IEwgMTguMzQxIDM2IEwgMjAgMzQuMzcyMSBMIDMuMzE4MSAxOCBMIDIwIDEuNjI3NyBMIDE4LjM0MSAwIEwgMCAxOCBaIiBmaWxsPSIjZDUzMjMyIi8+Cgk8L2c+Cjwvc3ZnPg==);
    background-position: left;
    padding-left: 2em;
}
.prevnext .next {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIGlkPSJVbnRpdGxlZC1QYWdlJTIwMSIgdmlld0JveD0iMCAwIDIwIDM2IiB2ZXJzaW9uPSIxLjEiCgl4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIgoJeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyMHB4IiBoZWlnaHQ9IjM2cHgiCj4KCTxnIGlkPSJhcnJvdyI+CgkJPHBhdGggZD0iTSAyMCAxOCBMIDEuNjU5MiAwIEwgMCAxLjYyNzkgTCAxNi42ODE5IDE4IEwgMCAzNC4zNzIzIEwgMS42NTkyIDM2IEwgMjAgMTggWiIgZmlsbD0iI2Q1MzIzMiIvPgoJPC9nPgo8L3N2Zz4=);
    background-position: right;
    padding-right: 2em;
}
@media all and (min-width: 30em) {
    .prevnext .next {
    text-align: right;
}
}.embed {
    margin: 2em 0;
    padding-bottom: 58%;
    height: 0;
    position: relative;
    overflow: hidden;
}
.embed iframe {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
[data-icon]:before {
    color: #a0c33f;
    content: attr(data-icon);
    font-family: 'Cleardings';
    font-size: 18px;
    font-size: 1rem;
    padding: 0 0.5em 0 0;
    display: inline-block;
    speak: none;
    -webkit-font-smoothing: antialiased;
}
.contact {
    list-style: none;
    overflow: hidden;
    margin: 0.25em 0 0.5em;
    padding: 0;
}
.contact li {
    color: #aaa;
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 0.75em;
}
.subnav {
    border-bottom: 1px solid #dce0d9;
}
.subnav li {
    list-style: none;
}
.subnav li a {
    padding: 10px 0;
    display: block;
    border-top: 1px solid #dce0d9;
}
.job {
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dce0d9;
}
.job:last-child {
    border-bottom: 0;
}
ul.outcomes {
    margin: 0;
}
ul.outcomes li {
    color: #a0c33f;
    margin-bottom: 0.25em;
}
ul.outcomes span {
    color: #303629;
}
.elsewhere {
    list-style: none;
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em 0;
    padding-left: 0;
}
.elsewhere [data-icon]:before {
    color: #7f837a;
}
li.hentry {
    margin: 2em 0;
}
li.hentry h2 {
    margin-top: 0.5em;
}
li.hentry.latest {
    font-size: 150%}
.hfeed li {
    margin-top: 3em;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}
aside .hfeed li {
    margin-top: 1em;
}
.message {
    padding: 0.5em 1em 0.25em;
    margin-bottom: 1em;
    background: #FFF;
    border: 1px solid #dce0d9;
    color: #555;
}
.message.error {
    color: #911;
    border: 1px dotted #911;
}
.case-study-images {
    display: none;
}
@media all and (min-width: 50em) {
    .case-study-images {
    display: block;
}
.case-study-images img {
    display: block;
    margin-top: 1em;
}
.case-study-images-left {
    float: left;
    width: 67.75%}
.case-study-images-right {
    text-align: right;
    margin-left: 2%;
    width: 30.25%;
    float: right;
}
}ul.people {
    list-style: none;
    padding: 0;
    overflow: hidden;
}
ul.people li {
    display: block;
    background: #FFF;
    position: relative;
    margin-top: 3%}
ul.people li:hover h3 {
    text-decoration: underline;
}
ul.people li:hover figcaption {
    background-color: #303629;
    background: -webkit-linear-gradient(top,  rgba(48, 54, 41, 0) 0%,  #23281e 70%);
    background: linear-gradient(to bottom,  rgba(48, 54, 41, 0) 0%,  #23281e 70%);
}
ul.people h3 {
    color: #fff;
    margin: 0;
    padding: 0 0.5em;
}
ul.people img {
    width: 100%}
ul.people figcaption {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    background-color: #303629;
    background: -webkit-linear-gradient(top,  rgba(48, 54, 41, 0) 0%,  #303629 70%);
    background: linear-gradient(to bottom,  rgba(48, 54, 41, 0) 0%,  #303629 70%);
    margin: 0;
    padding: 3em 0 0.25em;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
}
ul.people .meta {
    color: #a0c33f;
    margin: 0.25em 0 0.5em;
    padding: 0 0.6667em;
}
@media all and (min-width: 50em) {
    ul.people li.col {
    margin-left: 2.667%;
    width: 23%}
}.case-studies li {
    margin-top: 3em;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}
.load-more.loading, .load-more.loading:hover, .load-more.loading:focus {
    opacity: 0.5;
    cursor: default;
}
.lanyrd-target-splat {
    margin-top: 0.6667em;
}
.lanyrd-listing {
    list-style: none;
    padding: 0;
    margin: 0 0 1em;
}
.lanyrd-listing ul, .lanyrd-listing .location {
    display: none;
}
.lanyrd-listing .icon {
    color: inherit;
    font: inherit;
}
.js .column.lanyrd-presentations {
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}
.js .column.lanyrd-presentations.show {
    opacity: 1;
}
@media all and (max-width: 40em) {
    .testlab-devices {
    font-size: 0.8125em;
}
.testlab-devices th:nth-child(4), .testlab-devices td:nth-child(4) {
    display: none;
}
}.carousel.is-loaded {
    text-align: center;
    padding: 0;
    margin-top: 1.25em;
    overflow: hidden;
    position: relative;
    display: block;
    white-space: nowrap;
}
.carousel .slides {
    margin: 0;
    position: relative;
    display: block;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
}
.carousel.is-loaded .slides {
    padding: 0 0 53%}
.slides.animate {
    -webkit-transition: left 0.75s ease-in-out;
    transition: left 0.75s ease-in-out;
}
.slides li {
    display: block;
    width: 80%;
    margin: 0 auto;
    max-width: 720px;
}
.is-loaded .slides li {
    position: absolute;
    margin: 0;
}
.slides a {
    display: block;
}
.slides a img {
    width: 100%}
.is-loaded .slides .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
@media all and (min-width: 54em) {
    .carousel.is-loaded {
    height: 472px;
}
.slides {
    height: 100%}
.slides li {
    width: 712px;
    height: 100%;
    padding-bottom: 0;
}
.slides .slide {
    position: static;
}
}.carousel .slide.layout1 a {
    width: 100%}
.carousel .slide.layout2 a.image0 {
    float: right;
    width: 66.292134831461%;
    max-width: 472px;
}
.carousel .slide.layout2 a.image1 {
    float: left;
    margin-bottom: 1.2%;
    width: 32.584269662921%;
    max-width: 232px;
}
.carousel .slide.layout2 a.image2 {
    clear: left;
    float: left;
    width: 32.584269662921%;
    max-width: 232px;
}
.carousel .slide.layout3 a.image0 {
    margin-bottom: 1.2%}
.carousel .slide.layout3 a.image1 {
    float: left;
    margin-right: 1.2%;
    width: 32.584269662921%;
    max-width: 232px;
}
.carousel .slide.layout3 a.image2 {
    float: left;
    width: 32.584269662921%;
    max-width: 232px;
}
.carousel .slide.layout3 a.image3 {
    float: right;
    width: 32.584269662921%;
    max-width: 232px;
}
.carousel .slide.layout4 a.image0 {
    float: left;
    margin-bottom: 1.2%;
    width: 32.584269662921%;
    max-width: 232px;
}
.carousel .slide.layout4 a.image1 {
    float: right;
    margin-bottom: 1.2%;
    width: 66.292134831461%;
    max-width: 472px;
}
.carousel .slide.layout4 a.image2 {
    float: left;
    clear: left;
    width: 66.292134831461%;
    max-width: 472px;
}
.carousel .slide.layout4 a.image3 {
    float: right;
    width: 32.584269662921%;
    max-width: 232px;
}
.carousel .control {
    position: absolute;
    display: block;
    z-index: 100;
    top: 0;
    bottom: 0;
    font-size: 2em;
    color: #FFF;
    width: 1.5em;
    height: 100%;
    text-align: center;
}
.carousel.touch .control {
    display: none;
}
.carousel .control:hover, .carousel .control:focus {
    text-decoration: none;
}
.carousel .control span {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 50%;
    margin-top: -0.75em;
    width: 1.5em;
    line-height: 1.5em;
    text-align: center;
    background: #555D50;
    background: rgba(85, 93, 80, 0.9);
    -webkit-transition: text-indent 0.3s linear;
    transition: text-indent 0.3s linear;
}
.carousel .control.prev {
    left: 0;
}
.carousel .control.prev:hover span {
    text-indent: -0.25em;
}
.carousel .control.next {
    right: 0;
}
.carousel .control.next:hover span {
    text-indent: 0.25em;
}
@media all and (min-width: 50em) {
    .carousel.touch .control {
    display: block;
}
}.map-wrapper {
    position: relative;
    height: 0;
    margin: 2em 1em;
    padding-bottom: 75%;
    background: #EEE;
}
#clearlefthq-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%}
#clearlefthq-map img {
    max-width: none;
}
.canhelp-images {
    display: none;
}
.zoomer {
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    line-height: 1.2;
    top: 10px;
    left: 10px;
    z-index: 2;
    border: 1px solid #ccc;
    background: #F4F5F3 60px 60px no-repeat;
    border-radius: 3px;
    font-size: 24px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: none;
}
.zoomer, .zoomer:hover, .zoomer:focus, .zoomer:active {
    color: #666;
    text-decoration: none;
}
.zoomer:hover, .zoomer:focus {
    background-color: #FFF;
}
.zoomer:active {
    border-color: #bbb;
    background-color: #ddd;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.zoomer.zoomin {
    background-position: -31px -1px;
    left: 39px;
    border-radius: 0 3px 3px 0;
}
.zoomer.zoomout {
    background-position: -61px -1px;
    border-radius: 3px 0 0 3px;
}
.map-marker.map-marker-clearleft-hq {
    position: relative;
    left: -13px;
    top: -18px;
    width: 27px;
    height: 38px;
    background: url(/_assets/canhelp/pin-clearleft.png) 0 0 no-repeat;
}
@media all and (min-width: 62.5em) {
    .map-wrapper {
    margin: 0 0 0.75em 0;
    width: 66%;
    padding-bottom: 46.5%;
    float: left;
}
}@media all and (min-width: 62.5em) {
    .canhelp-images {
    display: block;
    float: right;
    width: 33%}
.canhelp-images img {
    display: block;
    margin-bottom: 0.5em;
}
.canhelp-images .canhelp-images-left {
    float: left;
    width: 38.5%}
.canhelp-images .canhelp-images-right {
    float: right;
    width: 59%}
}.sheet {
    padding: 5%;
    font-family: "LFT Etica Regular",  "LFT Etica",  "Helvetica Neue",  Arial,  Helvetica,  sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.625;
    background-color: #fff;
    border-left: 1px solid #E8E9E7;
    border-right: 1px solid #E8E9E7;
}
.sheet .entry-title {
    margin-top: 0;
    color: #d33232;
}
.sheet .entry-title a, .sheet .more a {
    color: #d33232;
}
.sheet .hfeed li {
    margin-top: 1em;
}
.sheet h1.entry-title {
    border: none;
}
.sheet h1.entry-title+p {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 1.25;
    margin-top: 0;
}
.sheet blockquote {
    font-family: "Premiera Italic",  Premiera,  'Droid Serif',  Georgia,  serif;
    font-weight: normal;
    font-style: italic;
}
.sheet p em, .sheet p cite, .sheet p i {
    font-family: "LFT Etica Italic",  "LFT Etica",  "Helvetica Neue",  Arial,  Helvetica,  sans-serif;
}
.sheet h2, .sheet h3 {
    color: #7f837a;
}
.sheet .vcard {
    overflow: hidden;
}
.sheet .published {
    color: #7f837a;
    font-family: 'Premiera Book',  Premiera,  'Droid Serif',  Georgia,  serif;
    text-transform: uppercase;
}
.sheet .published:before {
    font-size: 14px;
    font-size: 0.875rem;
}
.sheet .author {
    font-family: 'Premiera Book',  Premiera,  'Droid Serif',  Georgia,  serif;
    font-size: 16px;
    font-size: 1rem;
}
.sheet .command:before {
    content: '/ ';
    color: #d33232;
}
@media all and (min-width: 50em) {
    .sheet h1.entry-title {
    font-size: 42px;
    font-size: 2.625rem;
}
.sheet h1.entry-title+p {
    font-size: 26px;
    font-size: 1.625rem;
}
}.wrap {
    margin: 0 auto;
    padding: 0.5em 5%;
    max-width: 1200px;
    max-width: 75rem;
    position: relative;
    overflow: hidden;
}
.wrap {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.hide-fonts .wrap {
    opacity: 0;
    -webkit-transition: none;
    transition: none;
}
.banner {
    color: #555;
    background: #fff;
    margin: 0;
    border-top: 0.5em solid #303629;
    border-bottom: 1px solid #dce0d9;
    padding: 1em 0 0;
    display: block;
}
@media all and (min-width: 50em) {
    .banner {
    overflow: hidden;
    padding: 1em 0 0.75em;
}
}.banner .logo, .banner .logo span {
    display: block;
    float: left;
    width: 162px;
    height: 41px;
}
.banner .logo {
    margin-top: -0.6em;
    margin-bottom: 0.5em;
}
.banner .logo h1 {
    display: inline;
}
.banner .logo span {
    background: url(/_assets/logo.png) 0 0 no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.svg .banner .logo span {
    background: none;
}
@media all and (min-width: 54em) {
    .banner .logo, .banner .logo span {
    width: 235px;
    height: 60px;
}
.banner .logo {
    margin: 1em 0 0 -0.25em;
}
.banner .logo span {
    background-image: url(/_assets/logo-larger.png);
}
}@media all and (min-width: 54em) and (max-width: 65em) {
    .logo {
    margin-top: 2em;
}
}.banner .contact {
    float: right;
    margin: -0.5em 0 0;
}
.banner .contact li {
    float: left;
    position: relative;
    padding: 0.5em;
}
.banner .contact span.text {
    display: none;
}
.banner .contact a {
    color: #7f837a;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5em;
    height: 2.5em;
}
.banner .contact a:hover, .banner .contact a:focus {
    text-decoration: none;
}
.banner .contact a:hover span.text, .banner .contact a:focus span.text {
    text-decoration: underline;
}
@media all and (min-width: 42em) {
    .banner .contact {
    display: block;
    margin: 0.25em 0 0.5em;
}
.banner .contact li {
    margin-left: 1.5em;
    white-space: nowrap;
    padding: 0;
}
.banner .contact span.text {
    display: inline-block;
}
.banner .contact a {
    display: inline;
    position: static;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}
}nav.primary {
    clear: both;
    overflow: hidden;
    letter-spacing: 0.125em;
    font-size: 13px;
    font-size: 0.8125rem;
    margin: 1em -1em 0;
    line-height: 1;
}
nav.primary ul {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav.primary li {
    position: relative;
    float: left;
    width: 22.3%;
    margin-left: 3.5%;
    margin-bottom: 0;
    padding: 0.25em 0;
    text-align: center;
    white-space: nowrap;
}
nav.primary li:first-child {
    margin-left: 0;
}
nav.primary li:first-child:before {
    content: none;
}
nav.primary li:before {
    position: absolute;
    left: -0.8em;
    top: 0.3333em;
    font-size: 20px;
    font-size: 1.25rem;
    color: #BADEE2;
    content: '|'}
nav.primary a {
    display: inline-block;
    text-transform: uppercase;
    color: #5F6657;
    font-size: 1.0625em;
    border-bottom: 1px solid transparent;
    position: relative;
    left: 1px;
}
nav.primary a:hover, nav.primary a:focus, nav.primary a.current {
    border-bottom: 1px solid #BADEE2;
    text-decoration: none;
}
nav.primary .nl {
    display: block;
}
@media all and (min-width: 42em) {
    nav.primary {
    margin: 1em 0 0;
}
nav.primary li:before {
    content: '/';
    font-size: 28px;
    font-size: 1.75rem;
    left: -0.55em;
    top: 0.25em;
}
nav.primary .nl {
    display: inline;
}
}@media all and (min-width: 54em) {
    nav.primary {
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    float: right;
    clear: right;
}
nav.primary li {
    width: auto;
    margin-left: 2.5em;
}
nav.primary li:before {
    left: -1em;
    top: 0;
    font-size: 28px;
    font-size: 1.75rem;
    content: '/'}
}.main {
    padding-bottom: 2em;
}
.contentinfo {
    color: #fff;
    background: #303629 url(data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAFVBMVEVPVUhSWEtUWk1QVklQVkpVW05SWEyXDDh7AAADhElEQVR42oVWCZIcMQijzTD/f3IiJJB7t1JR7fb4wNxgx/MX8a2sZ1CfzzkR30aceLJxIqripFBYOS+ILrOHYMNBVQRIsQZUtdCenDwQduI78nD6fBqVPJ7CiQbIvv/A392CXCG0BlQV2YYVhgaQSMAZQ/TDLA1PBlUq+ks8faAtzbzPWXwFfVMhh5jqN7LB4+2BsOO13VrUqtxU9/mZxy+HRVMINRMwciT4bbU3NUZ4xRMRhcnGtYineTs3Yp2ngRBCT9oUen/DXU/njQTS02d5gZ2+cGS0lcu7VVybtWRNE+gtWNx8DLFoFZ1Gw60m5PVhFgRAV2VqL7CNfZaSSqHgL6Y9PkwTJc8lPtZTEWK/MXlurHYioGQpLCBIL8i9oCjwv9HT/6Oycp3G33EwORYtpUZtrwbK+PHvZ1Cv9CwiOLj1i5sqGU2yMudkGd/qKkfaesaFR+4e5uScKgPvCK9VqJSlhUdI+lv9gOkCj6bAjtonK57pVNbA2FxEBaiJym2tC+ZP0bZwuLeDE6LddJu86u+WilFSeHuiMmZVkhrZelXnYA5L3BWfF0ApdERvaR1ZdcL+7yKTH+gswd4GMY52fFsA+LKJv2PS6YN1qp8Z7yp+Cn959bYradhx3TQyrr5Q2UxVsjU7EZzLbLffDNKAtlyzkMFVx6qydzjhOLaMg51HwEQCVhDXt4X6eP8IhWrzAthQlgNOCyIH3rasvizzhjqbCtX0M9iqm7X2FAnhBGkar/pSdFgxVHtTporedm47n+laX5QgrMm5ajbcAp0RiNG+OfpANMZX4LKrVHYtUl3Y3pyFIB5hlA62jkZHd7u6U8TxxnS1SGBrZY+ozKo3bZwTKgXfGywADJ7f2PbHDldln7KRhu+UHTU9SSmyGmqhadpomwTSCFLfDjWSoLdN634GruW0MFlPXM/vVTIRLJ8lLRW1p8ObcxGKpGPAOObAhgRBg9UUZi9TogdkOy29qhv52AhPqtmAikQpBWwr816FMZaKYHpEP1NuFbhRT4tnFewbcxLYl44RDLh7JSMRH2FlQHs7xlK3crVktV+FKp9cd5JaBLBv8g6VaAQMN9E22B7rOVp8CI8Pe5am4wXyA7GjomQAh7u48yXQmSOBcmYHGea1rwwX7E9p3GS9CZGELeNDKk/wgaBLgCJAIOBJj21gMvSK5nq7yZDE+Pv2Gab0H6wgKO/4w/l9AAAAAElFTkSuQmCC) center top repeat;
    padding-top: 1em;
}
.contentinfo h2 {
    color: #a0c33f;
    margin-top: 0;
}
.contentinfo a, .contentinfo em {
    color: #e0e0df;
}
.contentinfo em {
    margin: 0.5em 0;
    display: block;
}
.contentinfo a:hover, .contentinfo a:focus {
    color: #fff;
}
.contentinfo small {
    display: block;
    padding: 0.5em 0;
    color: #BFC1BB;
    font-size: 14px;
    font-size: 0.875rem;
    background-color: #404639;
}
.contentinfo small ul {
    list-style: none;
    overflow: hidden;
}
.contentinfo small li {
    white-space: nowrap;
    float: left;
    margin-bottom: 0;
    padding-right: 0.5em;
}
.contentinfo small li:last-child {
    padding-right: 0;
}
.contentinfo small li:after {
    content: '/';
    color: #a0c33f;
    font-size: 12px;
    font-size: 0.75rem;
    padding-left: 0.5em;
}
.contentinfo small li:last-child:after {
    content: none;
}
@media all and (min-width: 50em) {
    .contentinfo .footer-prose {
    float: left;
    width: 65%}
.contentinfo .contact {
    float: right;
    width: 30%}
.contentinfo em {
    margin: 0 1em 0 0;
    display: inline;
}
.contentinfo small {
    margin-top: 1.5em;
}
.contentinfo small ul {
    float: right;
    margin: 0 0 0 0.5em;
}
}.masthead {
    margin: 2em 0;
}
.masthead .clearthinking, .masthead .clearthinking span {
    width: 240px;
    height: 28px;
}
.masthead .clearthinking span {
    display: block;
    margin: 0 auto;
    background: url(/_assets/clearthinking.png) 0 0 no-repeat;
    text-indent: -200%;
    white-space: nowrap;
    overflow: hidden;
}
.svg .masthead .clearthinking span {
    background: none;
}
.masthead .strapline {
    font-family: "Premiera Italic",  Premiera,  'Droid Serif',  Georgia,  serif;
    font-weight: normal;
    font-style: italic;
    margin-top: 0;
}
@media all and (min-width: 35em) {
    .masthead {
    margin: 3em 0;
}
.masthead .clearthinking, .masthead .clearthinking span {
    width: 480px;
    height: 56px;
}
.masthead .clearthinking span {
    background-image: url(/_assets/clearthinking-larger.png);
}
}.group, [class*=colgroup] {
    zoom: 1;
}
.group:after, [class*=colgroup]:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.col {
    position: relative;
}
.col :first-child {
    margin-top: 0;
}
@media all and (min-width: 30em) and (max-width: 50em) {
    [class*=colgroup] .col {
    float: left;
    width: 47.5%;
    margin-left: 5%}
[class*=colgroup] .col:nth-of-type(2n+1), .colspan-2+.col {
    clear: left;
    margin-left: 0;
}
.colgroup-1 .col {
    width: 100%;
    float: none;
    margin-left: 0;
}
.colgroup-3 .colspan-2, .colgroup-3 .colspan-2+.col, .colgroup-3 .col.primary, .colgroup-3 .col.secondary {
    width: 100%;
    float: none;
    margin-left: 0;
}
.colgroup-3 .col.secondary {
    margin: 2em 0 0 0;
}
}@media all and (min-width: 50em) {
    [class*=colgroup] .col {
    margin-left: 5%;
    float: left;
}
[class*=colgroup] .col:first-of-type {
    margin-left: 0;
}
.colgroup-4 .col {
    width: 21.2%}
.colgroup-4 .col:nth-of-type(4n+1) {
    clear: left;
    margin-left: 0;
}
.colgroup-4 .col.colspan-3 {
    width: 73.8%}
.colgroup-3 .col {
    width: 30%}
.colgroup-3 .col:nth-of-type(3n+1) {
    clear: left;
    margin-left: 0;
}
.colgroup-3 .col.colspan-2 {
    width: 64%}
.colgroup-3 .col.middle {
    margin: 0 auto;
    float: none;
}
.colgroup-3 .col.colspan-2>p {
    line-height: 1.4;
    margin-top: 0.7em;
}
.colgroup-3 .col.colspan-2>p.leader {
    line-height: 1.1429;
    margin-top: 0;
}
.colgroup-3 .col.primary {
    float: right;
}
.colgroup-3 .col.secondary {
    float: left;
    margin-left: 0;
}
.colgroup-2 .col {
    width: 47.5%}
.colgroup-2 .col:nth-of-type(2n+1) {
    clear: left;
    margin-left: 0;
}
.colgroup-1 .col {
    width: 100%;
    margin-left: 0;
}
.thinks .thought {
    width: 47.5%;
    float: right;
    clear: right;
}
.thinks .thought:first-of-type {
    width: 47.5%;
    float: left;
}
}.markit-formats {
    box-sizing: border-box;
    width: 40em;
    max-width: 100%;
    background: #FFF;
    border: 1px solid #DCE0D9;
    border-bottom: none;
    overflow: hidden;
}
.markit-formats a {
    display: block;
    float: left;
    background: #FFF;
    padding: 0.25em 0.5em;
    border-right: 1px solid #DCE0D9;
    color: #333;
}
.markit-formats a:hover, .markit-formats a:focus {
    text-decoration: none;
    background: #F0F0F0;
}
.markit-formats .markit-bold {
    font-weight: bold;
}
.markit-formats .markit-italic {
    font-style: italic;
}
.markit-formats .markit-link, .markit-formats .markit-link:hover, .markit-formats .markit-link:focus {
    color: #17B;
    text-decoration: underline;
}
.markit-formats .markit-list {
    display: list-item;
    list-style: disc inside;
}
