<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Krissy O'Shea</title>
    <meta name="description" content="Krissy O'Shea">
    <meta name="keywords" content="Krissy O'Shea">
    <meta name="author" content="Krissy O'Shea">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Cinzel|Italiana' rel='stylesheet' type='text/css'>
    <meta http-equiv="cleartype" content="on">
    <script type="text/javascript">
      (function() {
        var config = {
          kitId: 'ptm1gxm',
          scriptTimeout: 3000
        };
        var h = document.getElementsByTagName('html')[0];
        h.className += ' wf-loading';
        var t = setTimeout(function() {
          h.className = h.className.replace(/(\s|^)wf-loading(\s|$)/g, ' ');
          h.className += ' wf-inactive';
        }, config.scriptTimeout);
        var d = false;
        var tk = document.createElement('script');
        tk.src = '//use.typekit.net/' + config.kitId + '.js';
        tk.type = 'text/javascript';
        tk.async = 'true';
        tk.onload = tk.onreadystatechange = function() {
          var rs = this.readyState;
          if (d || rs && rs != 'complete' && rs != 'loaded') return;
          d = true;
          clearTimeout(t);
          try { Typekit.load(config); } catch (e) {}
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(tk, s);
      })();
    </script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/krissyoshea.css">
    <!-- endbuild -->
  </head>
  <body ng-app="krissyosheaApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">
                <h1 id="banner" role="banner" aria-live="polite">Krissy O'Shea</h1>
            </a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <div ng-controller="MenuCtrl">
              <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/')}"><a href="#/">Home</a></li>
                <li ng-class="{ active: isActive('/portfolio')}"><a ng-click="portfolioMenuPressed()">Portfolio</a></li>
                <li ng-class="{ active: isActive('/about')}"><a ng-href="#/about">About</a></li>
                <li ng-class="{ active: isActive('/contact')}"><a ng-href="#/contact">Contact</a></li>
              </ul>
              <div class="portfolioMenu" ng-if="portfolioMenuVisible">
                <ul class="container">
                  <li ng-repeat="portfolio in portfolios" class="col-md-5" ng-click="portfolioMenuItemPressed(portfolio)">{{portfolio.title._content}}</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <ul>
          <li role="menu-item" class="social">
            <a id="instagram_social" href="https://instagram.com/cottagefarm" target="new" title="Krissy O'Shea" class="instagram"></a>
          </li>
          <li role="menu-item" class="social">
            <a id="pinterest_social" href="https://pinterest.com/cottagefarm" target="new" title="Krissy O'Shea" class="pinterest"></a>
          </li>
          <li role="menu-item" class="social">
            <a id="twitter_social" href="https://twitter.com/cottagefarm" target="new" title="Krissy O'Shea" class="twitter" ></a>
          </li>
        </ul>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-32840879-1');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/portfolio.js"></script>
        <script src="scripts/controllers/menu.js"></script>
        <!-- endbuild -->
  </body>
</html>
